<html>
  <head>
    <title>GatorWins</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This page will serve as our unauthenticated landing page</p>
    <p></p>
    <p>Route Tests:</p>
    <p></p>
    <p> <a href= "login" >Login</a></p>
    <p> <a href= "signup" >Register</a></p>
    <p> <a href= "gamepage" >Game Page</a></p>
    <p> <a href= "lobby" >Lobby</a></p>
  </body>
</html>